<div class="row d-flex flex-column justify-content-center align-items-start m-2 p-4">

  <div class="row d-flex">
    <ng-container *ngIf="showNewAuthorForm">
      <form [formGroup]="newAuthorForm" (ngSubmit)="onSubmit()" class="col-5">
        <div class="form-group">
          <label for="id">id</label>
          <input type="text" id="id" class="form-control" formControlName="id" required>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl" required>
        </div>
        <div class="form-group">
          <label for="totalPosts">Total Posts</label>
          <input type="number" id="totalPosts" class="form-control" formControlName="totalPosts" required>
        </div>
        <div class="form-group">
          <label for="totalComments">Total Comments</label>
          <input type="number" id="totalComments" class="form-control" formControlName="totalComments" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Add Author</button>
      </form>

    </ng-container>
    <div class="text-end col-3" (click)="initializeNewAuthorForm()" *ngIf="!showNewAuthorForm">
      <button type="button" class="btn btn-primary ms-auto"><i class="fas fa-plus-circle m-1 mt-2"></i>new author </button>
    </div>
  </div>
  <div class="col-10 d-flex justify-content-center mx-auto p-5  mt-2">
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th></th>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">totalPosts</th>
        <th scope="col">totalComments</th>
        <th scope="col"><input type="text" (input)="searchFullText(searchText)" [(ngModel)]="searchText" placeholder="search" (change)="searchFullText(searchText)"></th>
        <th>
          <select [(ngModel)]="authorSortType" class="p-1" (change)="onAuthorTypeChange()">
            <option  *ngFor="let type of authorType" [value]="type">{{ type}}</option>
            <!--          <option  [value]="AuthorSortType.totalPosts">{{ AuthorSortType.totalPosts}}</option>-->
            <!--          <option  [value]="AuthorSortType.totalComments">{{ AuthorSortType.totalComments}}</option>-->
          </select>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let authorInfo of authors|slice:0:authorCount;let i=index" (click)="showDetailes(authorInfo)">
        <td>{{i+1}}</td>
        <td>{{authorInfo.id}}</td>
        <td>{{authorInfo.name}}</td>
        <td>{{authorInfo.totalPosts}}</td>
        <td>{{authorInfo.totalComments}}</td>
      </tr>
      </tbody>
      <tfoot>
      <td class="fst-italic fw-bolder" colspan="4">Total number of authors: {{ authors.length }}</td>
      <div class="d-inline-block ms-2 mt-2" (click)="showMore()">
        <button type="button" class="btn btn-success"><i class="fas fa-arrow-right m-1 mt-2"></i>show more </button>
      </div>
      </tfoot>
    </table>

  </div>
</div>

