
//@use 'bootstrap/dist/css/bootstrap.min.css';

.bg-rose-toupe {
  background-color: #f4fc61;
}

.bg-rose-taupe {
  background-color: #F45866;
}

.bg-sky-magenta {
  background-color: #F49390;
}

.bg-crayola {
  background-color: #A2666F;
}

.bg-tekhelet {
  background-color: #ac69d2;
}

.bg-orange {
  background-color: #f8b168;
}

.bg-blue {
  background-color: #219ebc;
}

.bg-lemon {
  background-color: #b1ef84;
}
