td {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 5px;
  }

}
